In [1]:
import pandas as pd
s = pd.Series([1,2,3,4])
s

0    1
1    2
2    3
3    4
dtype: int64

In [2]:
pop=pd.Series([ 38, 26, 19, 19], index = ['ca', 'tx', 'ny', 'fl'])
pop

ca    38
tx    26
ny    19
fl    19
dtype: int64

In [3]:
#Excersice 3.6
capital_cities=pd.Series(['Andhra Pradesh','Karnataka','Maharastra','Tamil Nadu'], index=['Amaravati','Bengaluru','Mumbai','Chenni'])
capital_cities

Amaravati    Andhra Pradesh
Bengaluru         Karnataka
Mumbai           Maharastra
Chenni           Tamil Nadu
dtype: object

In [5]:
pop.values

array([38, 26, 19, 19])

In [6]:
pop.index

Index(['ca', 'tx', 'ny', 'fl'], dtype='object')

In [7]:
list(pop.index)

['ca', 'tx', 'ny', 'fl']

In [8]:
pop>20

ca     True
tx     True
ny    False
fl    False
dtype: bool

In [9]:
df = {'ca': [35, 37, 38], 'tx': [23, 24, 26], 'md': [5,5,6]}
pop = pd.DataFrame(df)
print('population:\n', pop)

population:
    ca  tx  md
0  35  23   5
1  37  24   5
2  38  26   6

In [10]:
pop = pd.DataFrame(df, index = [2010,2012,2014])
print('population:\n', pop)

population:
       ca  tx  md
2010  35  23   5
2012  37  24   5
2014  38  26   6

In [11]:
#Exercise 3.7
print(capital_cities.iloc[0])
print(capital_cities.iloc[2])
capital_cities.loc['Bengaluru']

Andhra Pradesh
Maharastra

'Karnataka'

In [12]:
import pandas as pd
data = {
        "countries":["Congo", "Gabon", "Equatorial Guinea", "Cameroon"],
        "capital":["Brazzaville", "Libreville", "Malabo", "Yaoundé"],
        "population":[1696, 703, 297, 2765]}
countries =["Congo", "Gabon", "Equatorial Guinea", "Cameroon"]
cityDF = pd.DataFrame(data, index=countries)
cityDF

                           countries      capital  population
Congo                          Congo  Brazzaville        1696
Gabon                          Gabon   Libreville         703
Equatorial Guinea  Equatorial Guinea       Malabo         297
Cameroon                    Cameroon      Yaoundé        2765

In [13]:
import pandas as pd
data = {
        "countries":["Congo", "Gabon", "Equatorial Guinea", "Cameroon"],
        "capital":["Brazzaville", "Libreville", "Malabo", "Yaoundé"],
        "population":[1696, 703, 297, 2765]}
countries =["Congo", "Gabon", "Equatorial Guinea", "Cameroon"]
cityDF = pd.DataFrame(data, index=countries)
cityDF

                           countries      capital  population
Congo                          Congo  Brazzaville        1696
Gabon                          Gabon   Libreville         703
Equatorial Guinea  Equatorial Guinea       Malabo         297
Cameroon                    Cameroon      Yaoundé        2765

In [2]:
import pandas as pd
df= pd.read_csv("C:/Users/user/Downloads/Book(Sheet1).csv") 
# df=df.dropna(how="all").reset_index(drop=True)
df

              Date  apporove  disapprove  dontknow
0   2001-Dec 14-16        86          11         3
1     2001-Dec 6-9        86          10         4
2   2001-Nov 26-27        87           8         5
3    2001-Nov 8-11        87           9         4
4     2001-Nov 2-4        87           9         4
5   2001-Oct 19-21        88           9         3
6   2001 Oct 11-14        89           8         3
7     2001 Oct 5-6        87          10         3
8   2001 Sep 21-22        90           6         4
9   2001 Sep 14-15        86          10         4
10   2001 Sep 7-10        51          39         7

In [12]:
print(df.columns)
print(df.columns.tolist())
for col in df.columns:
    print(col)

Index(['Date', 'apporove', 'disapprove', 'dontknow'], dtype='object')
['Date', 'apporove', 'disapprove', 'dontknow']
Date
apporove
disapprove
dontknow

In [10]:
# Uising index
for i,col in enumerate(df.columns):
    print(i,col)

0 Date
1 apporove
2 disapprove
3 dontknow

In [14]:
print(list(enumerate(df.columns)))

[(0, 'Date'), (1, 'apporove'), (2, 'disapprove'), (3, 'dontknow')]

In [22]:
df.shape

(11, 4)

In [23]:
df.head

<bound method NDFrame.head of               Date  apporove  disapprove  dontknow
0   2001-Dec 14-16        86          11         3
1     2001-Dec 6-9        86          10         4
2   2001-Nov 26-27        87           8         5
3    2001-Nov 8-11        87           9         4
4     2001-Nov 2-4        87           9         4
5   2001-Oct 19-21        88           9         3
6   2001 Oct 11-14        89           8         3
7     2001 Oct 5-6        87          10         3
8   2001 Sep 21-22        90           6         4
9   2001 Sep 14-15        86          10         4
10   2001 Sep 7-10        51          39         7>

In [15]:
import os
os.getcwd()

'C:\\Users\\user'

In [26]:
files = os.listdir("../user/")
files[:5]

['.anaconda', '.android', '.conda', '.condarc', '.continuum']

In [16]:
#Excersice 3.9
os.listdir()

['.anaconda',
 '.android',
 '.conda',
 '.condarc',
 '.continuum',
 '.emulator_console_auth_token',
 '.gitconfig',
 '.gradle',
 '.ipynb_checkpoints',
 '.ipython',
 '.jupyter',
 '.node_repl_history',
 '.python_history',
 '.skiko',
 '.vscode',
 '3D Objects',
 'anaconda3',
 'anaconda_projects',
 'AndroidStudioProjects',
 'AppData',
 'Application Data',
 'Contacts',
 'Cookies',
 'Desktop',
 'Documents',
 'Downloads',
 'Favorites',
 'IntelGraphicsProfiles',
 'Links',
 'Local Settings',
 'Music',
 'My Documents',
 'NetHood',
 'NTUSER.DAT',
 'ntuser.dat.LOG1',
 'ntuser.dat.LOG2',
 'NTUSER.DAT{2ad838bc-efea-11ee-a54d-000d3a94eaa1}.TM.blf',
 'NTUSER.DAT{2ad838bc-efea-11ee-a54d-000d3a94eaa1}.TMContainer00000000000000000001.regtrans-ms',
 'NTUSER.DAT{2ad838bc-efea-11ee-a54d-000d3a94eaa1}.TMContainer00000000000000000002.regtrans-ms',
 'ntuser.ini',
 'Numpy.ipynb',
 'OneDrive',
 'Pandas.ipynb',
 'Pictures',
 'PrintHood',
 'Recent',
 'Roaming',
 'Saved Games',
 'Searches',
 'SendTo',
 'Start Menu',
 'Templates',
 'Videos']

In [19]:
os.listdir(".")

['.anaconda',
 '.android',
 '.conda',
 '.condarc',
 '.continuum',
 '.emulator_console_auth_token',
 '.gitconfig',
 '.gradle',
 '.ipynb_checkpoints',
 '.ipython',
 '.jupyter',
 '.node_repl_history',
 '.python_history',
 '.skiko',
 '.vscode',
 '3D Objects',
 'anaconda3',
 'anaconda_projects',
 'AndroidStudioProjects',
 'AppData',
 'Application Data',
 'Contacts',
 'Cookies',
 'Desktop',
 'Documents',
 'Downloads',
 'Favorites',
 'IntelGraphicsProfiles',
 'Links',
 'Local Settings',
 'Music',
 'My Documents',
 'NetHood',
 'NTUSER.DAT',
 'ntuser.dat.LOG1',
 'ntuser.dat.LOG2',
 'NTUSER.DAT{2ad838bc-efea-11ee-a54d-000d3a94eaa1}.TM.blf',
 'NTUSER.DAT{2ad838bc-efea-11ee-a54d-000d3a94eaa1}.TMContainer00000000000000000001.regtrans-ms',
 'NTUSER.DAT{2ad838bc-efea-11ee-a54d-000d3a94eaa1}.TMContainer00000000000000000002.regtrans-ms',
 'ntuser.ini',
 'Numpy.ipynb',
 'OneDrive',
 'Pandas.ipynb',
 'Pictures',
 'PrintHood',
 'Recent',
 'Roaming',
 'Saved Games',
 'Searches',
 'SendTo',
 'Start Menu',
 'Templates',
 'Videos']

In [20]:
os.listdir("..")

['All Users', 'Default', 'Default User', 'desktop.ini', 'Public', 'user']

In [30]:
df.head(6)

             Date  apporove  disapprove  dontknow
0  2001-Dec 14-16        86          11         3
1    2001-Dec 6-9        86          10         4
2  2001-Nov 26-27        87           8         5
3   2001-Nov 8-11        87           9         4
4    2001-Nov 2-4        87           9         4
5  2001-Oct 19-21        88           9         3

In [36]:
df["dontknow"]

0     3
1     4
2     5
3     4
4     4
5     3
6     3
7     3
8     4
9     4
10    7
Name: dontknow, dtype: int64

In [37]:
df.apporove

0     86
1     86
2     87
3     87
4     87
5     88
6     89
7     87
8     90
9     86
10    51
Name: apporove, dtype: int64

In [40]:
df[["Date"]]

              Date
0   2001-Dec 14-16
1     2001-Dec 6-9
2   2001-Nov 26-27
3    2001-Nov 8-11
4     2001-Nov 2-4
5   2001-Oct 19-21
6   2001 Oct 11-14
7     2001 Oct 5-6
8   2001 Sep 21-22
9   2001 Sep 14-15
10   2001 Sep 7-10

In [41]:
var=["apporove","disapprove"]
df[var]

    apporove  disapprove
0         86          11
1         86          10
2         87           8
3         87           9
4         87           9
5         88           9
6         89           8
7         87          10
8         90           6
9         86          10
10        51          39

In [47]:
print(df[df.apporove>88])
df[df.apporove<88]

             Date  apporove  disapprove  dontknow
6  2001 Oct 11-14        89           8         3
8  2001 Sep 21-22        90           6         4

              Date  apporove  disapprove  dontknow
0   2001-Dec 14-16        86          11         3
1     2001-Dec 6-9        86          10         4
2   2001-Nov 26-27        87           8         5
3    2001-Nov 8-11        87           9         4
4     2001-Nov 2-4        87           9         4
7     2001 Oct 5-6        87          10         3
9   2001 Sep 14-15        86          10         4
10   2001 Sep 7-10        51          39         7

In [51]:
df[(df.apporove<86) | (df.apporove>89)]

              Date  apporove  disapprove  dontknow
8   2001 Sep 21-22        90           6         4
10   2001 Sep 7-10        51          39         7

In [55]:
#Excersice 3.10
df[df.apporove>=88][["Date","apporove"]]

             Date  apporove
5  2001-Oct 19-21        88
6  2001 Oct 11-14        89
8  2001 Sep 21-22        90

In [58]:
df[df.apporove>=88].shape[0]

3

In [59]:
pop = pd.Series([32.7, 267.7, 15.3], index=["MY", "ID", "KH"])
pop

MY     32.7
ID    267.7
KH     15.3
dtype: float64

In [60]:
pop.iloc[1]

np.float64(267.7)

In [61]:
pop.iloc[[1,2]]

ID    267.7
KH     15.3
dtype: float64

In [64]:
print(pop.loc["ID"])
pop.loc[["ID","MY"]]

267.7

ID    267.7
MY     32.7
dtype: float64

In [72]:
#Excerice 3.11
capitals = pd.DataFrame(
        {"capital":["Andhra Pradesh","Telengana","Karnataka"],
         "population":[32.7, 267.7, 15.3]},
        index=["Amravathi","Hyderabad","Bengaluru"])
capitals

                  capital  population
Amravathi  Andhra Pradesh        32.7
Hyderabad       Telengana       267.7
Bengaluru       Karnataka        15.3

In [73]:
capitals=capitals.reset_index(name = "country")

TypeError: DataFrame.reset_index() got an unexpected keyword argument 'name'. Did you mean 'names'?

In [75]:
import numpy as np
pop1 = pd.Series([np.nan, 26, 19, 13])
pop1

0     NaN
1    26.0
2    19.0
3    13.0
dtype: float64

In [79]:
print(pop1.iloc[2])
pop1[2]

19.0

np.float64(19.0)

In [80]:
pop2=pop1.dropna()
pop2

1    26.0
2    19.0
3    13.0
dtype: float64

In [81]:
pop2.iloc[2]

np.float64(13.0)

In [82]:
pop2.loc[2]

np.float64(19.0)

In [84]:
capitals.iloc[2]

capital       Karnataka
population         15.3
Name: Bengaluru, dtype: object

In [86]:
capitals.iloc[[2]]

             capital  population
Bengaluru  Karnataka        15.3

In [87]:
capitals.iloc[2,1]

np.float64(15.3)

In [88]:
capitals.loc["Amravathi","capital"]

'Andhra Pradesh'

In [91]:
capitals.loc[["Amravathi", "Hyderabad"], ["population", "capital"]]

           population         capital
Amravathi        32.7  Andhra Pradesh
Hyderabad       267.7       Telengana

In [1]:
import pandas as pd

df = pd.DataFrame({'sport': ['tennis', 'football', 'basketball']})
df['sport'].str.contains('ball')

0    False
1     True
2     True
Name: sport, dtype: bool

In [2]:
df.loc[df['sport'].str.contains('ball'), 'sport'] = 'ball sport'

In [3]:
df['sport'].str.match('foot')

0    False
1    False
2    False
Name: sport, dtype: bool

In [4]:
df['sport'].str.replace('ball', 'sphere', regex=True)

0          tennis
1    sphere sport
2    sphere sport
Name: sport, dtype: object

In [5]:
df['sport'].str.replace(r'^.*ball.*$', 'ball sport', regex=True)

0        tennis
1    ball sport
2    ball sport
Name: sport, dtype: object