In [1]:
for i in range(3):
    print("Hi there!")

Hi there!
Hi there!
Hi there!

In [5]:
for i in range(4):
    print(i)
    if i>2:
        print("too much")
print("done")

0
1
2
3
too much
done

In [8]:
# Excercise 2.1
a=10
b=10000
print("i am going out with my ",a,"friends")

i am going out with my  10 friends

In [19]:
c=750
price=c*(a+1)
total=price*1.15
print("Total price:",total)

Total price: 9487.5

In [21]:
# Excercise 2.2
height="5'"+'3"'
print("Height:",height)

Height: 5'3"

Functions

In [23]:
def add(x,y):
    z=x+y       # return x+y 
    return z
add(11,12)

23

In [24]:
def multiply(a,b):
    return a*b
multiply(3,6)

18

collections

In [25]:
n=list(range(5))
print(n)

[0, 1, 2, 3, 4]

In [ ]:
# using indexing we can only accessing only one element this is called as indexing.
# One can access more than one list element, this is called slicing.

In [28]:
# Exercise 2.3
m=list(range(1,13))
for i in range(3):
    print(m[i::3])

[1, 4, 7, 10]
[2, 5, 8, 11]
[3, 6, 9, 12]

In [6]:
# Exercise 2.4
a=["abc","def"]
b=[]
b+=["ghi","jkl"]
res=a+b
print("All Friends:",res)

All Friends: ['abc', 'def', 'ghi', 'jkl']

In [10]:
squares=[]
for i in range(10):
    squares.append(i**2)
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [11]:
# Excercise 2.5
names=["Adam", "Ashin", "Inukai", "Tanaka", "Ikki"]
seats=[33, 12, 45, 2, 17]
assignments=[]
for i in range(len(names)):
    a=names[i]+":"+str(seats[i])
    assignments.append(a)
assignments

['Adam:33', 'Ashin:12', 'Inukai:45', 'Tanaka:2', 'Ikki:17']

In [12]:
#  List comprehension
[i*i for i in range(10)]     # Squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [13]:
["Question"+str(i) for i in range(1,5)]

['Question1', 'Question2', 'Question3', 'Question4']

In [15]:
[10 for i in range(5)]

[10, 10, 10, 10, 10]

In [20]:
[i*i for i in range(11)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [35]:
# Exercise 2.6
toppings=["mushrooms","mozarella","pineapple"]
["pizza with "+ a for a in toppings]

['pizza with mushrooms', 'pizza with mozarella', 'pizza with pineapple']

In [36]:
c=[[1,2,3], ["a", "b", "c"], [len, print, type]] # len, print,type (not in single or double quotes)- function objects
[d[1] for d in c]

[2, 'b', <function print(*args, sep=' ', end='\n', file=None, flush=False)>]

In [38]:
# Dict
# Exercise 2.7
cities = {(31.228611, 121.474722):"Shanghai",
          (23.763889, 90.388889):"Dhaka",
          (13.7525, 100.494167):"Bangkok"
          }
print(cities)

{(31.228611, 121.474722): 'Shanghai', (23.763889, 90.388889): 'Dhaka', (13.7525, 100.494167): 'Bangkok'}

In [39]:
# Exercise 2.8
tsinghua={"house":30, "street":"Shuangqing Rd",
            "district":"Haidan", "city":"Beijing",
            "country":"CH"}
kenyatta={"pobox":"43844-00100", "city":"Nairobi",
            "country":"KE"}
places={"Tsinghua":tsinghua, "Kenyatta":kenyatta}
places["Teski Refugio"] = {"house":256,
                   "street":"Volcan Osorno",
                   "city":"La Ensenada",
                   "region":"Los Lagos",
                   "country":"CL"}
print(places)

{'Tsinghua': {'house': 30, 'street': 'Shuangqing Rd', 'district': 'Haidan', 'city': 'Beijing', 'country': 'CH'}, 'Kenyatta': {'pobox': '43844-00100', 'city': 'Nairobi', 'country': 'KE'}, 'Teski Refugio': {'house': 256, 'street': 'Volcan Osorno', 'city': 'La Ensenada', 'region': 'Los Lagos', 'country': 'CL'}}

In [44]:
# Exercise 2.8
payments={"jan":500,"feb":600,"mar":400,"apr":300}
total=0
for month in payments.keys():
    total+=payments[month]
print("Total bill:",total)

Total bill: 1800

In [45]:
x = [1, 2, 3, 2, 1, 2, 2, 5, 3]
s = set(x)
print("we have", len(s), "unique elements:", s)

we have 4 unique elements: {1, 2, 3, 5}

In [46]:
l = list(s)
l.sort()
print(l)

[1, 2, 3, 5]

In [47]:
# Exercise 2.9
kings=["Jun", "Gang", "An", "jun", "HYE", "JUN", "hyo", "yang", "WON", "WON", "Yang"]
Kings=[n.title() for n in kings]
s=set(Kings)
print(s)

{'Won', 'Hye', 'Hyo', 'Gang', 'Jun', 'An', 'Yang'}

In [48]:
print(len(s), "unique kings")

7 unique kings

In [49]:
import math 
for fun in[math.sin, math.cos,math.sqrt]:
    print(fun(1))

0.8414709848078965
0.5403023058681398
1.0

In [52]:
# Exercise 2.10
for i in range(1,11):
    parity=i%2
    if parity==1:
        print(i,"odd")
    else:
        print(i,"even")

1 odd
2 even
3 odd
4 even
5 odd
6 even
7 odd
8 even
9 odd
10 even

In [54]:
p=1
for i in range(1,11):
    p=p*i
p

3628800

In [56]:
names = ["viola glabella", "monothropa hypopithys", "lomatium utriculatum"]
s=""
for i in names:
    if s!="":
        s+=","
    s+=i
s

'viola glabella,monothropa hypopithys,lomatium utriculatum'

In [58]:
# Exercise 2.11
names = ["viola glabella", "monothropa hypopithys", "lomatium utriculatum"]
", ".join(names)

'viola glabella, monothropa hypopithys, lomatium utriculatum'

In [60]:
import math
math.sqrt(9)

3.0

In [61]:
from math import sqrt,sin,pi
sqrt(4)

2.0

In [64]:
sin(pi/2)

1.0